@import "../../styles/mixins.scss";

.chat-room {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  @include dynamic-background;

  .chat-container {
    display: flex;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2rem;
    top: 5rem;

    @include panel;
    }
}
